.main-about-section{

  width: 100%;
  background-color:  #121217;

}



.about-header-text{
  font-size: 4rem;
  color: #333;
  border: 2px solid red;
  text-align: center;
  margin-top: -3px;

}

.main-about-container{
  height: 500px;
  width: 100%;
  background-color: #fafafa;



}

.main-about-block{

  height: 400px;
  width: 100%;


}






.main-about-container-two{
  height: 220px;
  width: 100%;
  margin-top: 100px;
  background-color: #333;
}
