.main-about-section{


  
  
}

.about-header-text{
  font-size: 3rem;
  color: #fafafa;
  height: 100vh;
  /*border: 2px solid grey;*/
  text-align: center;
  margin-top: -1px;
  background-color:black;
}

.main-about-container{

  
  height: 100vh;
  background-color: blue;
  


}

.main-about-container-two{
  /* height: 300px; */
  max-width: 300px;
  background-color: whitesmoke;
}
