.main-about-section{

  min-width: 100vw;
  min-height: 100vh;
  background-color:  #121217;
}

.about-header-text{
  font-size: 5rem;
  color: #333;
  /*border: 2px solid grey;*/
  text-align: center;
  margin-top: -1px;

}

.main-about-container{

  min-width: 100vw;
  min-height: 100vh;
  background-color: #fafafa;
  text-align: center;


}

.main-about-container-two{
  height: 300px;
  width: 100vw;
  margin-top: 100px;
  background-color: silver;
}
