.main-contact-div{
  min-height: 100vh;
  min-width: 100vw;
  background-color: #fafafa;

}

.main-contact-div-two{

  min-height: 500px;
  min-width: 100vw;
  min-height: 100vh;
    border: 2px solid red;
}

.parent-contact-container{
  display: block;
  justify-content: center;



}
