.main-contact-div{
  height: 900px;
  width: 100%;
  background-color: #fafafa;

}

.main-contact-div-two{

  height: 500px;
  width: 100%;


}

.parent-contact-container{
  display: block;
  justify-content: center;
  background-color: #fafafa;


}
