.main-contact-div{
  height: 100vh;
  
  background-color: #fafafa;

}

.main-contact-div-two{

  height: 500px;
  
  
    border: 2px solid red;
}

/* .parent-contact-container{
  display: block;
  justify-content: center;



} */