.home-page-main{
  
  background-color:#333;
  margin: auto;
  /* height: 100%; */
  /* align-items: center; */
 
}





.div-one-parent{
  color: black;
  height: 100vh;
  /* background-color: #fafafa;  */
  background-image: url("./img/teslaImagehd.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;

}

.div-two-child{
  color: black;
  height: 100vh;
  background-color: #333; 
  background-image: url("./img/teslatwo.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
}

.div-three-child{
  color: black;
  height: 100vh;
  background-color: #333; 
  background-image: url("./img/teslamtn.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
}