.home-page-main{
  
  background-image: linear-gradient(to right, black, silver);
  height: 100vh;
 
}

.home-title-info{
  display: flex;
  justify-content: center;
  color: white;
  margin-top: -65px;
}
.home-title{
  font-size: 5rem;
  
  opacity: 0.5;
   
    border: 3px solid silver;
    color: gold;
}
.under-nav-particles{
  height: 180px;
  margin-top: 65px;
  background-image: linear-gradient(to right, black, silver);
    background-size: contain;
    background-position: 50% 50%;;

}