.navigation-parent{
  background-color: #fafafa;
}


.header-anchors{
  display: flex;
  justify-content: space-around;  
  color: black;
  background-color: #fafafa;
 border: 3px solid #333;
  padding: 20px;
 margin-top: 10px;
 font-size: 1.45rem;
 font-weight: bolder;
}



