.navigation-parent{
  height: 55px;
  width: 100%;
  /*border: 4px solid black;*/
  background-color: BLACK;

}


.header-anchors{

  display: flex;
  justify-content: space-around;

}

.head-anchor-tabs{
 border: 3px solid black;
 background-color: black;
 width: 120px;
 display: flex;
 justify-content: center;
 margin-top: 10px;
 font-size: 2.0rem;
 font-weight: bolder;
 
}
