.services-page-main{
    height: 100vh;
    background: #fafafa;
    

}

.services-block-main{
    background-color: #333;
    height: 1250px;
    
}

.services-list-main{
    display: grid;
    flex-direction: column;
    flex-wrap: wrap;
    height: 250px;
    background-color: azure;
}